:root {
  --primary-dark: #2A3137;
  --dark-hover: #343c42e7;
  --primary-light: #EBECED;
  --primary-blue: #6FB0E2;
  --blue-hover: #84beeb;
  --light-grey: #9EA2A6;
  --primary-orange: rgba(245, 156, 48, 0.749);
  --orange-hover: rgba(243, 167, 75, 0.749);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

